*{
margin: 0;
padding: 0;
}
body{
width: 100%;
height: 100%;
color: #333;
background: #f7f7f7;
font-size: 1em;                 /текст зменшується та зб в залежності від масштаба/
font-family: "Segoe UI", sans-serif;
line-height: 135%;               /висота ліній, відступи, абзаци/
}
a {
color: #F08080;
text-decoration: none;            /посилання не мають підкреслювань/
transition: all.6s ease;           /повільна та плавна зміна кольору/
}
a:hover {
color: #8b9ff5;
text-decoration: none;
transition: all.6s ease;
}
a:active {
color: #8ce4a6;
}
img {
height: 3%;
}

hr{
display: block;
border: 0;
height: 1px;
border-top: 1px solid #ccc;
}
/* Для виділення тексту кольором  */
::selection {background: #f58b8b; color:#fff}

header, footer{
width: 98%;
background-color: #fff;
float: left;
font-family: Comic Sans MS, sens-serif;
}

header{
border-bottom: 2px solid silver;
padding: 1%;  /його висота/
}
#logo{
font-size: 2em;
font-family: Comic Sans MS,sens-serif;
}
.right{ float: right;
font-size: 1.2em;}
.footer{ float:left;}


#contact{
font-size: 2em;
margin-left: 5%;
}
.field{
border-radius: 5px;
border: 2px solid silver;
padding: 0.3%;
margin-left: 2%;
}

#page-wrap{

min-height: 94%; /висота хедера та контената/
margin-bottom: -10px;

}

#page-wrap: after{
content: "";
display: block;
}

footer,#page-wrap: after{
height: 10px;
}

#wrapper{
float: left;
width: 100%;
margin-top: 3%;
}
 #wrapper #articles{
float: left;
width: 80%;
margin-left: 10%;

}
 #wrapper #articles article{
float: left;
width: 31%;
border: 1px solid silver;
box-sizing: border-box;
border-radius: 5px;
background-color: #fafafa;
height: 40%;
margin-right: 2%;
}
#wrapper #articles article img{
width: 100%;
height: 200px;
border-radius: 5px 5px 0px 0px;
border-bottom: 1px solid silver;
margin-bottom: 10 px;
}

#wrapper #articles article h2{
margin-width: 90%;
margin-left: 5%;
font-weight: normal;
font-size: 1,7em;
color: #4a4a4a;
}

#wrapper #articles article p{
width: 80%;
margin-left: 10%;
}

 #wrapper #articles article a{
padding: 5px;
background-color: #FFB6C1;
margin-left: 5%;
border-radius: 5px;
float: left;
color: #fff;
line-height: 10px;
}
 #wrapper #articles article a:hover{
background-color: #F08080;
}

#main_soc_block{
width: 100%;
padding: 2%;
border-bottom: 2px solid silver;
border-top: 2px;
margin: 20px 0;
float: left;
background: url('fon.jpg') repeat-x center 0;
height: 200px; 
}
 #main_soc_block_in {
text-align: center;
padding: 3%;
width: 60%;
margin-left: 15%;

}
 #main_soc_block_in a{
float: left;
padding: 5px;
background-color: #E9967A;
border-radius: 5px;
color: black;
margin-left: 42%;
margin-top: 15px;
}



#menu {
color: #E9967A;
font-family:  Comic Sans MS,sens-serif;
font-sixe: 1.7em;
}
#menu hr{
width: 600px;
max-width; 100%;
margin-top: 5px;
margin-bottom: 10px;

}
#menuHrefs a{
padding: 5px;
border-radius: 5px;
margin-right: 5px;

}
#menuHrefs a:hover{
background-color: #ececec;
}



/*Новий рік */
#NewYear{
width: 100%;
float: left;
background-color: fafafa;
border-radius: 5px;
border: 2px solid silver;
}
#FotoN{ 
width: 80%;
height: 40%;
float: left;
margin-top: 3%;
margin-left: 10%;
}
#FotoN img{
width: 33%;
height: 100%;
float: left;
margin-left: 2px;
}
#NewYear h3{
float: left;
margin-left: 12%;
margin-top: 2%;
font-size: 2.5em;
color: #4a4a4a;
}
#NewYear p{
float: left;
width: 80%;
margin-left: 10%;
margin-top: 2%;
font-size: 1.2em;
line-height: 30px; /відступи між рядками/
text-align: justify;
}

#NewYear #column{
float: left;
width: 23%;
margin-left: 8%;
}
 #column #block{
margin-top: 15%;
height: 40%;
background-color: white;
}
#block img{
weight: 100%;
height: 70%;
margin-top: 3%;
margin-left: 16%;
}
#block h2{
float: left;
margin-left: 35%;
margin-top: 2%;
font-size: 1.5em;
color: #4a4a4a;
}
/ Декор /

#decor{
width: 100%;
float: left;
background-color: fafafa;
border-radius: 5px;
}
#decor h3{
margin-left: 40%;
margin-top: 2%;
font-size: 3em;
color: #4a4a4a;
}
#decor #column1{
float: left;
margin-top: 2%;
margin-left: 4%;
width: 20%;

}
#column1 #block1{
float: left;
margin-top: 3%;
width: 100%;
height: 55%;
border: 2px solid silver;
}
#block1 p{
float: left;
margin-top: 1%;
margin-left: 15%;
font-size: 1.2em;
font-weight: 600;
line-height: 30px; /відступи між рядками/
}
#block1 img{
float: left;
width: 70%;
height: 60%;
margin-left: 15%;
}
#block1 #but1{
width: 40%;
height: 8%;
float: left;
margin-left: 45%;
margin-top: 5%;
background-color: #C0C0C0;
}


/Товар 1/
#tov, #tov1{
width: 100%;
float: left;
background-color: fafafa;
border-radius: 5px;
}
#tov h3, #tov1 h3{
float: left;
margin-left: 40%;
margin-top: 2%;
font-size: 3em;
color: #4a4a4a;
}

#tov h2, #tov1 h2{
float: left;
margin-left: 10%;
margin-top: 5%;
font-size: 2.5em;
color: #4a4a4a;
}

#tov img, #tov1 img{
height: 60%;
width: 40%;
float: left;
margin-left: 10%;
margin-top: 5%;
}
#tov #tov_right, #tov1 #tov_right1 {
float: right;
margin-right: 15%;
width: 20%;
height: 30%;
border: 2px solid silver;
}

#tov_right h2, #tov_right1 h2{
float: left;
margin-left: 10%;
margin-top: 12%;
font-size: 2em;
color: #4a4a4a;

}
#tov_right #count , #tov_right1 #count1{
float: left;
margin-left: 15%;
margin-top: 20%;
width: 15%;
height: 20%;
}
#buy, #buy1{
float: left;
margin-left: 22%;
margin-top: 20%;
width: 30%;
height: 20%;
background-color: #F8F8FF; 
font-size: 1.2em;
}
#har{
float: right;
margin-right: 10%;
margin-top: 3%;
width: 30%;
height: 40%;
}
#har h2{
float: left;
margin-left: 20%;
margin-top: 5%;
font-size: 1.5em;
color: #DB7093;
}
table {
color: #C71585;
float: left;
margin-top: 5%;
font-size: 1em;
text-align: center;
background-color: white;
border: 2px solid;
border-color: #FFB6C1;
width: 100%;
height: 50%;
}
th, td {
width: 10%;
height: 10%;
border-top: 2px solid silver;
border-color: #FFB6C1;
}

/Корзина покупок/
#basket{
width: 100%;
height: 100%;
}
fieldset{
width: 60%;
height: 80%;
float: left;
margin-left: 10%;
margin-top: 5%;
border: 2px solid silver;
}
legend{
margin-left: 10%; 
font-size: 2em;
}

label{
margin-left: 5%; 
margin-top: 5%;
font-size: 1.5em;
}
#name,#last-name,#street,#misto,#email,#nomer,#sub{
margin-left: 5%; 
margin-top: 3%;
width: 20%;
height: 4%;
}

 #del {
float: left;
margin-left: 5%; 
margin-top: 3%;
font-size: 1.5em;
}
#chkYes, #t1, #chkNo, #t2{
float: left;
margin-left: 3%; 
margin-top: 3.5%;
}
#dvPassport{
float: left;
margin-left: 5%; 
margin-top: 3.5%;
font-size: 1.3em;
}
#txtPassportNumber{
margin-left: 5%; 
margin-top: 3%;
width: 20%;
height: 4%;
}

#sub{
margin-left: 3%; 
margin-top: 3.5%;

}
#return{
float: left;
margin-left: 3%;
margin-top: 3.5%;
width: 20%;
height: 4%;
}
#rig{
float: left;
margin-left: 4%;
margin-top: 3%;
width: 20%;
height: 10%;
}
#rig h2{
float: left;
margin-left: 5%;
margin-top: 1%;
font-size: 2em;

}
#output{float: left;
margin-left: 5%;
margin-top: 2%;
                width: 30%; 
		height: 25%; 
		text-align: center;
		font-size: 2em;
text-decoration: underline;
}
#load{
float: left;
margin-left: 5%;
margin-top: 3.5%;
width: 20%;
height: 4%;
}
#s, #ss{
float: left;
margin-left: 5%;
margin-top: 2%;
width: 20%; 
height: 30%; 
border: 2px solid #FF7F50;
color: #F08080;
}

#out0, #out01{
float: left;
margin-left: 10%;
margin-top: 5%;
font-size: 1.5em;
text-decoration: underline; 
}

#out1, #out11{
float: left;
margin-left: 10%;
margin-top: 5%;
font-size: 1.7em;
}
#out2, #out21{
float: left;
margin-left: 10%;
margin-top: 8%;
font-size: 1.7em;
}

#otmena, #otmena1{
float: left;
margin-left: 14%;
margin-top: 4%;
width: 75%;
height: 14%;
}
footer{
border-top: 2px solid silver;
margin-top: 10px;
padding: 1%;
height: auto;
}